<section id="group" class="group container">
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#collapse1">
                    <h4 class="panel-title">
                        <a>Cadastrar Grupo <i class="fa fa-plus-circle"></i></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="bs-example bs-example-form" data-example-id="simple-input-groups">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-users"></i></span>
                                <input class="form-control" placeholder="Nome..." aria-describedby="basic-addon1" ng-model="vm.group.title">
                            </div>
                            </br>
                            <button class="btn btn-success pull-right" ng-click="vm.save(vm.group)">Salvar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row group-items" ng-init="vm.loadGroups()">
        <div class="col-md-3" ng-repeat="item in vm.groups">
            <div class="card-img">
                <img src="../assets/img/group.png" alt="Grupo" style="width:100%">
                <div class="container">
                    <h4><b>{{item.title}}</b></h4>
                    <button class="btn" ng-click="vm.manageGroup(item)">Gerenciar grupo</button>
                </div>
            </div>
        </div>
    </div>
</section>