<section id="group" class="group container" ng-init="vm.loadGroup()">
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#collapse1">
                    <h4 class="panel-title">
                        <a>Editar Grupo <i class="fa fa-pencil"></i></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="bs-example bs-example-form" data-example-id="simple-input-groups">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-users"></i></span>
                                <input class="form-control" placeholder="Nome..." aria-describedby="basic-addon1" ng-model="vm.group.title">
                            </div>
                            </br>
                            <button class="btn btn-success pull-right" ng-click="vm.update(vm.group)">Salvar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row group-items">
        <ul class="nav nav-tabs">
         <li class="active"><a href="manage#tab-participants" data-toggle="tab">Participantes</a></li>
         <li><a href="manage#tab-sessions" data-toggle="tab">Sessões</a></li>        
      </ul>
      <div class="tab-content clearfix">
        <div class="tab-pane active" id="tab-participants" ng-include="vm.participantHtml">    
            
         </div>  
        <div class="tab-pane" id="tab-sessions" ng-include="vm.sessionHtml">     
          
        </div>
    </div>
</section>