<div id="participant" class="participant container" ng-init="vm.loadParticipants()">
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading collapsed" data-toggle="collapse" href="#participant-collapse">
                    <h4 class="panel-title">
                        <a>Cadastrar Usuário <i class="fa fa-plus-circle"></i></a>
                    </h4>
                </div>
                <div id="participant-collapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="bs-example bs-example-form" data-example-id="simple-input-groups">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input class="form-control" placeholder="Nome..." aria-describedby="basic-addon1" ng-model="vm.participant.name">
                            </div>
                            </br>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                                <input class="form-control" placeholder="Email..." aria-describedby="basic-addon1" ng-model="vm.participant.username">
                            </div>
                            </br>
                            <button class="btn btn-success pull-right" ng-click="vm.addParticipant(vm.participant)">Salvar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row participant-items">
        <div class="panel panel-default" ng-repeat="item in vm.participants">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <h3>{{item.name}}</h3>
                        <h5><i class="fa fa-envelope"> </i> {{item.name}}</h5>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger pull-right" ng-click="vm.removeParticipant(item)"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>