<div id="session" class="session container" ng-init="vm.loadSessions()">
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading collapsed" data-toggle="collapse" href="#session-collapse">
                    <h4 class="panel-title">
                        <a>Cadastrar Sessão <i class="fa fa-plus-circle"></i></a>
                    </h4>
                </div>
                <div id="session-collapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="bs-example bs-example-form" data-example-id="simple-input-groups">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                    <input class="form-control" placeholder="Nome..." aria-describedby="basic-addon1" ng-model="vm.session.name">
                                </div>
                                </br>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-map-marker"></i></span>
                                    <input class="form-control" placeholder="Local..." aria-describedby="basic-addon2" ng-model="vm.session.place">
                                </div>
                            </div>
                            </br>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon3"><i class="fa fa-calendar-check-o"></i></span>
                                                <input type="text" class="form-control" placeholder="Data..." data-ng-model="vm.session.date" data-date-time-input="YYYY-MM-DD HH:mm" data-date-formats="['YYYY-MM-DD HH:mm']">
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="vm.session.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </br>
                            <div class="col-md-12">
                                <button class="btn btn-success pull-right" ng-click="vm.addSession(vm.session)">Salvar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row session-items">
        <div class="panel panel-default" ng-repeat="item in vm.sessions">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <h3>{{item.name}}</h3>
                        <h5><i class="fa fa-map-marker"> </i> {{item.name}}</h5>
                        <h5><i class="fa fa-calendar-check-o"> </i> {{item.date | date :  "dd-MM-yyyy HH:mm"}}</h5>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger pull-right" ng-click="vm.removeSession(item)"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>