@import "variables.less";
 
body {
    background-color: @background;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;   
    font-size: 2.5rem;
    color: #6F7D8C;
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
    margin-bottom: 20px;
}

p {
    color: #919da8;
    font-size: 14px;
    line-height: 22px;
}

.theme-color {
    background-color: #646883;
}

.section-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-footer {
    border-top: 5px solid #319c98;
    background: #333;
    position: relative;
}

.main-footer .section-header > h2, .email-id {
    color: #fff;
}

.main-footer p {
    font-size: 1.2em;
    color: #FFF;
}

.main-footer i.fa {
    margin-right: 8px;
}

span.mright {
    margin-right: 25px;
}

.social-icons ul li {
    font-size: 22px;
    margin-bottom: 15px;
}

.social-icons ul li a {
    color: #FFF;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.parallax {    
    background-image: ~"url('../img/footer.jpg')";
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
	position: relative;
	height: 100%;
}

.container {
	position: relative;
	height: 100%;
    padding: 20px;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
}

.navbar-home {      
        border: 0;
        background-color: transparent !important;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        text-align: center;
    }

    .navbar-default {      
        border: 0;
        background-color: #319c98;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        text-align: center;
    }

.navbar-default .navbar-toggle {
    border-color: #ddd;
    margin-right: 30px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #8b1a18;
}

.navbar-default .container{
  padding: 5px;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fec503;
    background-color: transparent !important;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e0ca81  !important;
    background-color: transparent;
}

.navbar-custom {      
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        text-align: center;
    }

@media (min-width: 768px){ 
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
}

.home {
    width: 100%;
    position: relative;
    overflow: hidden;
    background:  ~"url('../img/bg.jpg')" #333 40% 40%;
    background-size: cover;
    background-position: center top;
    text-align: center;   
}

.form-box {
    margin: 100px 10px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
    color: #fff;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form button.btn {
    width: 100%;
}

.home button.btn {
    height: 50px;
    margin: 20px 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #de615e;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
        transition: all .3s;
}

.sobre{
    padding-bottom: 100px;
}

.group {
    margin-top: 100px;
}

.group .panel-default > .panel-heading {
    color: #333;
    background-color: #229a98;
    border-color: #ddd;
}

.card-img {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img img {
    border-radius: 5px 5px 0 0;
}

.card-img .container {
    width: 100%;
    padding: 2px 16px;
}

.card-img .container .btn{
   background-color: #72a3b2;
    width: 100%;
    margin: 10px 0;
}

.group h3, .group h5{
        margin: 0 10px 5px 10px;
}
    
.participant-items .btn{
    margin-top: 20px;
}

.participant .panel-default > .panel-heading.collapsed {
   color: #333;
   background-color: #ffffff;   
   border: #333 dashed 1px;
   text-align: center;
}

.participant .panel-default > .panel-heading.collapsed i{
    display: inline-block;
}

.participant .panel-default > .panel-heading {
   color: #333;
   background-color: #ffffff;   
   border: none;
   text-align: left;
}

.participant .panel-default > .panel-heading i{
    display: none;
}

.session .btn{
    margin-top: 30px;
}

.session .panel-default > .panel-heading.collapsed {
   color: #333;
   background-color: #ffffff;   
   border: #333 dashed 1px;
   text-align: center;
}

.session .panel-default > .panel-heading.collapsed i{
    display: inline-block;
}

.session .panel-default > .panel-heading {
   color: #333;
   background-color: #ffffff;   
   border: none;
   text-align: left;
}

.session .panel-default > .panel-heading i{
    display: none;
}

.user {
  margin-top: 10%;
}

.white-bg {
    background: #FFFFFF;
}

section {
    padding: 60px 0px;
}

.delay1 {
    animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
}

.margin-30 {
    margin-bottom: 30px !important;
}

.home-icons {
    color: #F0626A;
    width: 160px;
    height: 160px;
    border: 2px solid #edeef0;
    border-radius: 80px;
    padding-top: 50px;
}








