<header id="home" class="home">
    <div class="row">
        <div class="col-md-4 col-md-offset-7 col-lg-3 col-lg-offset-7">
            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Efetue o login </h3>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" class="login-form">
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Email</label>
                            <input type="text" name="form-username" placeholder="Email..." class="form-username form-control" id="form-username" ng-model="vm.user.username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-password">Senha</label>
                            <input type="password" name="form-password" placeholder="Senha..." class="form-password form-control" id="form-password"
                                ng-model="vm.user.password">
                        </div>
                        <button class="btn" ng-click="vm.login(vm.user)">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="sobre" class="sobre white-bg">
    <div class="container">
        <div class="row text-center">
             <div class="section-header">
                <h2 class="text-center">COMO FUNCIONA</h2>
            </div>
            <!--Section-->
            <a class="col-link" href="#">
                <div class="col-sm-4 margin-30 animated fadeIn delay1">
                    <i class="fa fa-check fa-4x home-icons"></i>
                    <h3>Cadastre-se</h3>
                    <p>Você pode se cadastrar e criar seus próprios grupos, ou apenas se cadastrar para participar de um grupo
                        em que foi convidado</p>
                </div>
            </a>

            <!--Section-->
            <a class="col-link" href="#">
                <div class="col-sm-4 margin-30 animated fadeIn delay2">
                    <i class="fa fa-paper-plane fa-4x home-icons"></i>
                    <h3>Convide os Amigos</h3>
                    <p>Após criar o grupo, basta cadatrar o email dos amigos para participarem do seu amigo oculto</p>
                </div>
            </a>

            <!--Section-->
            <a class="col-link" href="#">
                <div class="col-sm-4 margin-30 animated fadeIn delay3">
                    <i class="fa fa-gift fa-4x home-icons"></i>
                    <h3>Sortei o Amigo Oculto</h3>
                    <p>Depois da confirmação dos amigos é só sortear o amigo oculto, cada um dos participantes receberá uma
                        notificação informando com quem saiu.</p>
                </div>
            </a>

        </div>
    </div>
</section>

<div class="parallax"></div>
<footer class="main-footer">
    <div class="container">
        <div class="row">            
            <div class="section-header">
                <h2 class="text-center">ENTRE EM CONTATO</h2>
            </div>
            <p class="text-center">Avenida Sumuel Vilhena Valadão, 181, Alfenas - MG</p>
            <p class="text-center">
                <span class="mright"><i class="fa fa-phone"></i> (35) 9999-9999</span>
                <span class="email-box"><i class="fa fa-envelope"></i> <a class="no-flip email-id" href="mailto:email@email.com">email@email.com</a> </span>
            </p>           
            <div class="section-header">               
            </div>
            <div class="social-icons text-center">
                <ul class="list-unstyled list-inline">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>          
        </div>       
    </div>   

    <div class="copyright-link">
        <p class="text-center">           
            © 2017<a href="#" class=" roll"><span data-title="Amigo X"> AmigoX </span></a>Todos os direitos reservados.
        </p>
    </div>
</footer>