<div id="user" class="user">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Cadastrar </h3>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" class="login-form">
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Nome</label>
                            <input type="text" name="form-name" placeholder="Nome..." class="form-name form-control" id="form-name" ng-model="vm.user.name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Email</label>
                            <input type="text" name="form-username" placeholder="Email..." class="form-username form-control" id="form-username" ng-model="vm.user.username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-password">Senha</label>
                            <input type="password" name="form-password" placeholder="Senha..." class="form-password form-control" id="form-password"
                                ng-model="vm.user.password">
                        </div>
                        <button class="btn" ng-click="vm.register(vm.user)">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>